# Example git ignore #

# Compiled code
*.exe
*.pyc
__pycache__/
*.pyc
Deprecated

# Large files:
*.tif
*.png
!Icons/*.png
*.json
*.log
*.db

# jupyternotebook cache
*.ipynb_checkpoints
**/Data/**
**/Test**.py
**Temp**.py
**/Temp/**
**/TestData/**
**/TrainingResults/**
**/build/**
**/dist/**
**.egg**
CentreCoordinates/FinalVersion/condaenv.mu0sdd1c.requirements.txt
